@{
    ViewBag.Title = "Turnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Turnos</h6>
    </div>
    <div class="card-body">
        <div class="row">

        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Empleado</th>
                                <th>Fecha</th>
                                <th>Hora Inicio</th>
                                <th>Hora Fin</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Empleado</th>
                                <th>Fecha</th>
                                <th>Hora Inicio</th>
                                <th>Hora Fin</th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Turno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <input id="txtcorreo" type="hidden" value="" />
                <form id="formTurno" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cboEmpleado">Empleado:</label>
                                <select id="cboEmpleado" class="form-control" required>
                                    <option value="">Seleccione un empleado</option>
                                </select>
                                <input type="hidden" id="txtNombreEmpleado" />
                                <div class="invalid-feedback">
                                    Por favor, seleccione un empleado.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cboDias">Días:</label>
                                <select id="cboDias" class="form-control">
                                    <option value="Lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miércoles">Miércoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sábado">Sábado</option>
                                    <option value="Domingo">Domingo</option>
                                    <option value="Lunes a Viernes">Lunes a Viernes</option>
                                    <option value="Sábado y Domingo">Sábado y Domingo</option>
                                    <!-- Agrega más opciones según sea necesario -->
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, seleccione los días.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txthoraInicio">Hora Inicio:</label>
                                <input type="time" class="form-control required" id="txthoraInicio" name="horaInicio" required>
                                <div class="invalid-feedback">
                                    Por favor, ingrese la hora de inicio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txthoraFin">Hora Fin:</label>
                                <input type="time" class="form-control required" id="txthoraFin" name="horaFin" required>
                                <div class="invalid-feedback">
                                    Por favor, ingrese la hora de fin.
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var tabladata;
                var idPersona = '@Session["IdPersona"]';

        $(document).ready(function () {
            // Cargar opciones de empleados
            jQuery.ajax({
                url: '/api/Inicio/ListarPersona',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var data = response.data;
                    $("#cboEmpleado").empty(); // Limpia el combo box antes de agregar nuevas opciones
                    $.each(data, function (index, value) {
                        if (value.oTipoPersona.IdTipoPersona == 2) {
                            $("<option>").attr({ "value": value.IdPersona, "data-nombre": value.Nombre + ' ' + value.Apellido, "data-correo": value.Correo }).text(value.Nombre + ' ' + value.Apellido).appendTo("#cboEmpleado");
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });

            // Configuración de DataTable
            tabladata = $('#tabla').DataTable({
                responsive: true,
                "ajax": {
                    "url": '/api/Empleado/ListarTurnoEmpleado?idPersona=' + idPersona,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NombreEmpleado" },
                    { "data": "Dias" },
                    { "data": "HoraInicio" },
                    { "data": "HoraFin" }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });

        });


    </script>
}



